@import 'bootstrap/dist/css/bootstrap.min.css';

.px-50 {
  left: 50%; 
  transform: translateX(-50%);
}

.hf-md {
  min-height: 90vh;
}

@media screen and (max-width: 768px) {
  .hf-md {
    min-height: 15vh;
  }
}